
.menu {
    background-color:lightskyblue;
    text-align: center;
}

.bandera {
    height: 100px;
    width: 100px;
}

.botones {
    background-color:orange;
    border-radius: 50px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.contenidoPrincipal {
    padding: 20px;
    border-radius: 50px;
}

.botonesRespuesta {
    margin: 10px;
    width: 50%;
    background-color: darkblue;
    color: #ffffff;
    border-radius: 50px;
}

.tabla {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    background-color: rgb(8, 125, 172);
}

.celdas {
    text-align: center;
    width: 200px;
    font-size: large;
    background-color: lightblue;
}

.totales {
    text-align: center;
    width: 200px;
    font-size: large;
    background-color: lightseagreen;
}